* {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.text-title-section {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  white-space: nowrap;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* header*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  margin-right: 76px;
}

.header-studio {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  padding: 24px 0;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5px;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address {
  padding: 24px 0;
}

.address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* first-section*/
.first-section {
  background: #2e2f42;
  padding: 188px 0 188px;
}

.container {
}

.title-first-section {
  max-width: 496px;
}

.title-first-section {
  font-weight: 700;
  letter-spacing: 0.02em;
}

.title-first-section {
  width: 496px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-bottom: 48px;
}

.first-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-style: normal;
}

.first-button:hover,
.first-button:focus {
  background-color: #404bbf;
}

/*second-section*/
.second-section {
}

.second-section-list {
}

.list-item {
}

.title-section {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-title-section {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*third-section*/
.third-section {
  background-color: #f4f4fd;
}
.title-third-section {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.images-list {
}

.list-item {
  background-color: #ffffff;
}

.img-list-item {
  display: block;
}

.title-section {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-title-section {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*fourth-section*/
.fourth-section {
  background: #fff;
}

.title-fourth-section {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-item {
  background: #fff;
}

.title-section {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text-title-section {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* footer*/
.footer {
  background: #2e2f42;
}

.footer-studio {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* footer*/
